/* import fancy fonts for marquee */
@import url("https://use.typekit.net/ssg8azx.css");

section.heroSection {
  background-image: url("../public/imgs/gallery/gallery2.jpg");
  background-position: 50%;
  background-attachment: fixed;
  background-size: cover;

  height: 100vh;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  margin-bottom: 3rem;
  padding: 0 0 1.5rem 0.5rem;
}

section.heroSection h1 {
  font-family: swear-display, serif;
  font-weight: 800;
  font-style: normal;
  font-size: 4.75rem;
  line-height: 0.8;

  /* text-transform: uppercase; */
}

section.heroSection h1 em {
  font-weight: 400;
  color: var(--shrek);
}

section.descriptionSection {
  display: block;
}

.descriptionContainer {
  margin: 0 auto;
  padding: 4rem 0.5rem 3rem;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  max-width: 1200px;
}

.descriptionNumbers {
  display: flex;
  justify-content: center;
  gap: 1.875rem;
  font-size: 1.25rem;
  padding: 7.5rem 0.5rem 0;
}

section.gallerySection {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.imageContainer {
  width: 100%;
}

div.imageContainer {
  flex: 1 0 0;
}

.imgStyle {
  object-fit: cover;
  width: 100% !important;
  display: block;
  aspect-ratio: auto;
  height: auto;
}

.marqueeSection {
  padding: 3.125rem 0 6.25rem;
  display: flex;
  flex-direction: column;
}

.marqueeSection span {
  font-size: 4rem;
}

.topText {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right: 0.75rem;

  font-family: swear-display-cilati, sans-serif;
  font-weight: 300;
  font-style: italic;
}

.middleText {
  display: flex;
  align-items: center;
  gap: 0.75rem;

  padding-right: 0.75rem;
  font-weight: 900;
  font-style: normal;

  line-height: 1.2;
}

.bottomText {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  padding-right: 0.75rem;

  font-family: quiverleaf-cf, sans-serif;
  font-weight: 600;
  font-style: italic;
}

section.ctaSection {
  display: flex;
  flex-direction: column;
}

.ctaImage {
  flex: 1 0 50%;
  display: flex;
}

.ctaImage .imgStyle {
  object-fit: cover;
  min-width: 100%;
}

.ctaContent {
  flex: 1 0 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1.75rem 0.5rem 3.625rem;
  background-color: white;
  color: black;
}

.ctaText {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.ctaText h2 {
  /* font-family: swear-text, serif;
  font-weight: 700;
  font-style: normal; */
  /* font-family: swear-display, serif;
  font-weight: 700;
  font-style: normal; */
  font-size: 2.4rem;
}

.ctaText p {
  font-size: 1.125rem;
}

.ctaButton {
  font-size: 1.25rem;
  border: 1px;
  border-style: solid;
  border-color: var(--shrek);
  padding: 0.5rem 1.5rem;
  margin-top: 2rem;
  text-transform: uppercase;
}

@media (min-width: 421px) and (max-width: 768px) {
  section.heroSection {
    padding: 0 0 1.75rem 0.75rem;
  }

  section.heroSection h1 {
    font-size: 5.25rem;
  }

  section.gallerySection {
    flex-direction: row;
  }

  .ctaContent {
    padding: 1.75rem 1.5rem 3.625rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  section.heroSection {
    padding: 0 0 2.5rem 1.25rem;
  }

  section.heroSection h1 {
    font-size: 6rem;
  }

  .descriptionContainer {
    padding: 4rem 1rem 3rem;
    font-size: 1.75rem;
  }

  .descriptionNumbers {
    font-size: 1.5rem;
  }

  section.gallerySection {
    flex-direction: row;
  }

  .marqueeSection {
    padding: 3vw 0 10vw;
  }

  .marqueeSection span {
    font-size: 6rem;
  }

  section.ctaSection {
    padding: 1.25rem 0;
    flex-direction: row;
  }

  .ctaContent {
    padding: 1.75rem 2rem 3.625rem;
  }

  .ctaText p {
    font-size: 1.125rem;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  section.heroSection {
    padding: 0 0 3rem 1.5rem;
  }

  section.heroSection h1 {
    font-size: 7rem;
  }

  .descriptionContainer {
    padding: 4rem 1.25rem 3rem;
    font-size: 2rem;
  }

  .descriptionNumbers {
    font-size: 1.75rem;
  }

  section.gallerySection {
    flex-direction: row;
  }

  .marqueeSection {
    padding: 3vw 0 10vw;
  }

  .marqueeSection span {
    font-size: 7rem;
  }

  section.ctaSection {
    padding: 1.25rem 0;
    flex-direction: row;
  }

  .ctaContent {
    padding: 1.75rem 2.5rem 3.625rem;
  }

  .ctaText p {
    font-size: 1.125rem;
  }
}

@media only screen and (min-width: 1200px) {
  section.heroSection {
    padding: 0 0 3.5rem 1.75rem;
  }

  section.heroSection h1 {
    font-size: 10rem;
  }

  .descriptionContainer {
    padding: 8.5rem 1.5rem;
    font-size: 2.25rem;
  }

  .descriptionNumbers {
    font-size: 2rem;
  }

  section.gallerySection {
    flex-direction: row;
  }

  .marqueeSection {
    padding: 100px 0;
  }

  .marqueeSection span {
    font-size: 8rem;
  }

  section.ctaSection {
    padding: 3.125rem 0;
    flex-direction: row;
  }

  .ctaContent {
    padding: 1.75rem 3rem 3.625rem;
  }

  .ctaText p {
    font-size: 1.5rem;
  }
}

/* Enable hover only on non-touch devices */
/* @media (hover: hover) and (pointer: fine) {
  .ctaButton:hover {
    background: rgba(var(--card-rgb), 0.1);
    border: 1px solid rgba(var(--card-border-rgb), 0.15);
  }
}

@media (prefers-reduced-motion) {
  .ctaButton:hover {
    transform: none;
  }
} */

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
