.artist_card{
    border-right: 1px dashed white;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: center;
    padding: 1rem;
    margin: 1rem auto 1rem auto;
    width: 30rem;
    height: 15rem;
    text-align: center;
    gap: 2rem;
    cursor: pointer;
    transition: all 0.5s ease-in;
}

.artist_card:hover{
    background-color: var(--shrek);
}

.name{
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 1rem;
}

.bio{
    font-style: italic;
    max-width: 60ch;
    text-align: left;
    padding: 0.5rem;
}

.members{
    font-weight: 200;
    margin: 1rem auto;
}

.genre{
    font-style: italic;
    max-width: 60ch;
    text-align: left;
    
}