
.nav{
    width: 90%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: "Josefin Sans", sans-serif;
}

.ul{
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    list-style-type: none;
}

.li{
    font-weight: 500;
}

.li:hover{
    text-decoration: underline 10px solid var(--shrek);
    cursor: pointer;
}