.form{
    border-radius: 5px;
    border: 1px solid black;
    width: 20rem;
    height: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 1rem;
    font-family: "Josefin Sans", sans-serif;
    font-size: 1rem;
}


.innerAlign{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: flex-start;
    justify-content: space-around;
    padding-left: 1rem;
}

.radioAlign{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    justify-content: space-around;
    width: 100%;
}

.emailLabel{
    margin-bottom: 0.5rem;
}

.fullNameLabel{
    margin-bottom: 0.5rem;
}