@font-face {
  font-family: "shrekFont";
  src: url(../../public/fonts/shrek-font.TTF) format("truetype");
}

.headerBox {
  height: 8em;
}

.logoTxt {
  font-family: "shrekFont", serif;
  color: var(--shrek);
}

footer.footContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bottomNav {
  height: fit-content;
  text-align: center;
  padding: 6rem 4rem 1rem 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logoAndSoMe,
.SoMeBottomNav,
.bottomNavUl {
  margin-bottom: 2.5rem;
}

.logoAndSoMe h1 {
  padding-bottom: 1.5rem;
}

.bottomNav ul {
  list-style-type: none;
}

.bottomNavUl > li:not(:last-child) {
  padding-bottom: 0.5rem;
}

.SoMeBottomNav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.SoMeBottomNav > *:not(:last-child) {
  padding-right: 2rem;
}

.examProject {
  font-size: 0.5rem;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bottomNav {
    display: grid;
    grid-template-columns: 4fr 4fr 4fr;
    grid-template-rows: 1fr 4fr 1fr;
    padding: 4rem 4rem 2rem 4rem;
    width: 100%;
  }

  .bottomNavUl {
    text-align: left;
    grid-column: 1;
    grid-row: 2;
    margin-bottom: 0;
  }

  .logoAndSoMe h1 {
    padding-bottom: 0;
  }

  .logoAndSoMe {
    /* justify-self: stretch; */
    grid-column: 2;
    grid-row: 1;
    align-self: stretch;
    margin-bottom: 0;
  }

  .sponsorsContainer {
    text-align: end;
    grid-column: 3;
    grid-row: 2;
  }

  .SoMeBottomNav {
    grid-column: 2;
    grid-row: 3;
    align-self: start;
    margin-bottom: 0;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {
  .bottomNav {
  }
} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {
  .bottomNav {
  }
} */
